@font-face {
    font-family: "Comfortaa";
    src: url("../../assets/fonts/Comfortaa/Comfortaa[wght].ttf");
}

* {
    font-family: 'Comfortaa';
}

.text-navbar{
    color: white;
    padding-top: 5px;
    font-weight: bold;
}

.background-navbar {
    background: #4F32B1;
    box-shadow: 0px 7px 16px 0px #A5A9DE;
    position: initial;
}